.container {
    width: 1170px;
    margin: 0 auto;
}
h1,h2 {
    text-align: center;
}
.wrap-catalogs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
}
.link-page {
    display: block;
    margin-bottom: 12px;
}

